@charset "UTF-08";

@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --cor0: #252525;
  --cor1: #4b4b4b;
  --cor2: #abaaaa;
  --cor3: #259566;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: "Poppins", sans-serif;
  --fonte-logo: "Cormorant", serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor2);
  margin: auto;
  max-width: 100%;
  width: 100%;
  font-family: var(--fonte-padrao);
}

/* HEADER STYLE*/

header {
  text-align: left;
}

.background-header {
  position: fixed;
  display: grid;
  width: 100%;
  height: 12%;
  grid-template-columns: 20% auto 60%;
  grid-template-rows: 100px;
  grid-template-areas: "left center right";
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 0px 0px 30px 30px;
  transition: 0.5s;
  z-index: 99;
}

.header-title {
  grid-area: left;
}

.header-menu {
  grid-area: right;
  width: 100%;
}

#page-title {
  font-family: var(--fonte-logo);
  display: grid;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  align-self: center;
  margin-left: 15%;
  margin-top: 0px;
  text-decoration: none;
}

#bandeiraRomeu {
  display: grid;
  align-self: center;
  grid-area: left;
  margin: auto;
}

/* #retangulo1 {
  display: grid;
  position: fixed;
  align-self: center;
  width: 60px;
  height: 9px;
  left: 32px;
  top: 60px;
  border-radius: 3px 0px 0px 3px;

  background: var(--cor4);
  z-index: 99;
}

#retangulo2 {
  display: grid;
  position: fixed;
  align-self: center;
  width: 60px;
  height: 9px;
  left: 92px;
  top: 60px;

  background: #ffffff;
  z-index: 99;
}

#retangulo3 {
  display: grid;
  align-self: center;
  position: fixed;
  width: 60px;
  height: 9px;
  left: 152px;
  top: 60px;
  border-radius: 0px 3px 3px 0px;

  background: #ff0000;
  z-index: 99;
} */

nav {
  display: grid;
  align-self: right;
  font-family: var(--fonte-padrao);
  grid-area: right;
  padding-right: 10px;
  position: relative;
  width: 30%;
  height: 20px;
  top: 25%;
  text-align: right;
}

nav > a {
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

nav > a:hover {
  background-color: rgba(255, 255, 255, 0.363);
  color: white;
  text-decoration: none;
}

nav > a:active {
  color: red;
}

/* MAIN STYLE */

main {
  margin: auto;
  margin-bottom: 30px;
  background-color: var(--cor0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
  border-radius: 0px 0px 10px 10px;
  color: white;
}

.bloco {
  width: 100%;
  height: 100%;
  margin: auto;
}

#imagemRestaurante {
  width: 100%;
}

.restaurante-display {
  display: flex;
}

.reservar-mesa {
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 60%;
  grid-template-areas:
    "h1 ."
    "reservar-mesa-form mapa";
  display: grid;
  padding: 1%;
  margin: 20px 50px 30px 50px;
  padding-top: 7%;
}

#reservas h1 {
  font-size: 36px;
  font-weight: 500;
}

.mesa {
  display: flex;
  align-self: center;
  width: 100%;
  grid-area: mapa;
  margin: auto;
}

form {
  display: block;
  font-family: var(--fonte-padrao);
  grid-area: reservar-mesa-form;
  font-size: 24px;
}

input,
select {
  font-family: var(--fonte-padrao);
  font-size: 18px;
  font-weight: 500;
  color: var(--cor1);
  width: 216px;
  padding: 5px;
  display: block;
  background-color: var(--cor2);
  border-radius: 5px;
  border: 1px;
}

.enviar {
  font-family: var(--fonte-padrao);
  font-size: 18px;
  font-weight: bold;
  color: black;
  width: 185px;
  padding: 5px;
  display: inline;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.email,
.nome {
  width: 430px;
}

.horario,
.mesa {
  width: 202px;
  margin-left: 13px;
}

#cardapio h1 {
  font-size: 36px;
  font-weight: 500;
}

.cardapios img {
  display: flex;
  width: 33.1%;
  height: 35%;
}

.quem-somos {
  padding: 1%;
  margin: 0px 50px 30px 50px;
}

.quem-somos img {
  display: flex;
  align-self: center;
  width: 25%;
  grid-area: bandeiras;
  margin: auto;
}

#conheca h1 {
  font-size: 36px;
  font-weight: 500;
}

#conheca p {
  font-size: 24px;
  text-align: justify;
}

#paragrafo1 {
  padding-bottom: 25px;
  margin: 0px;
}

#titulo2 {
  padding-top: 25px;
}

#paragrafo2 {
  padding-bottom: 25px;
  margin: 0px;
}

/* FOOTER STYLE */

footer {
  background-color: var(--cor0);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor2);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor1);
}

html {
  scroll-behavior: smooth;
}

#interior {
  background-color: var(--cor0);
  margin-left: 15px;
  margin-bottom: 20px;
}
