{% extends 'romeu.html' %} {% block content %}

<h1>RESERVAS</h1>
<form method="POST">
  {{ form.hidden_tag() }} {{ form.name.label }} {{ form.name(class="nome",
  placeholder="Digite seu nome completo") }} {{ form.email.label }} {{
  form.email(class="email", placeholder="Digite seu e-mail") }}

  <table border="0">
    <tr>
      <td>
        {{ form.data.label }} {{ form.data(class="data",
        placeholder="dd/mm/aaaa") }}
      </td>

      <td>
        &nbsp; {{ form.horario.label }} {{ form.horario(class="horario",
        placeholder="Selecione") }}
      </td>
    </tr>

    <tr>
      <td>
        {{ form.qtd_pessoas.label }} {{ form.qtd_pessoas(class="pessoas") }}
      </td>

      <td>
        &nbsp; {{ form.mesa.label }} {{ form.mesa(class="mesa",
        placeholder="Selecione") }}
      </td>
    </tr>
  </table>

  {{ form.submit(class="enviar") }}

  <!-- Alerta de reserva realizada -->
  {% block successalert %} {% endblock %}

  <!-- Alerta de reserva não realizada -->
  {% block erroralert %} {% endblock %}
</form>

{% endblock %}
